#cloud-config
package_update: true
packages:
  - docker.io

runcmd:
  - systemctl enable docker
  - systemctl start docker
  - docker pull ghcr.io/siliney/auto-healing-web-tier:latest
  - docker rm -f web || true
  - docker run -d --restart=always --name web -p 80:80 ghcr.io/siliney/auto-healing-web-tier:latest
